

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link
  routerLinkActive="active">ניתוב לדיין </a>
    <a mat-tab-link
    routerLinkActive="active">שולחן עבודה דיין </a>
    <a mat-tab-link
    routerLinkActive="active">שולחן עבודה מזכירה </a>
    <a mat-tab-link
    routerLink="/folders"  routerLinkActive="active">תיקיות </a>
    <a mat-tab-link
     routerLinkActive="active">תרשומות ותכתבות </a>
    <a mat-tab-link
     routerLinkActive="active">ניהול </a>

</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
